body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Detail_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:11px;
    top:71px;
    width:959px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:965px;
    height:486px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:955px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:11px;
    top:71px;
    width:959px;
    height:480px
}

.u2 {
    position:absolute;
    left:50px;
    top:97px;
    width:210px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_original {
    background-image: url('../Detail_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:50px;
    top:80px;
    width:1px;
    height:54px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1px;
    height:54px;
}

.u4 {
    position:absolute;
    left:2px;
    top:19px;
    width:-3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:50px;
    top:80px;
    width:1px;
    height:54px
}

.u5_original {
    background-image: url('../Detail_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:50px;
    top:134px;
    width:1px;
    height:186px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1px;
    height:186px;
}

.u6 {
    position:absolute;
    left:2px;
    top:85px;
    width:-3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:50px;
    top:134px;
    width:1px;
    height:186px
}

.u7_original {
    background-image: url('../Detail_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:53px;
    top:124px;
    width:239px;
    height:256px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:256px;
}

.u8 {
    position:absolute;
    left:2px;
    top:120px;
    width:235px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:53px;
    top:124px;
    width:239px;
    height:256px
}

.u9_container {
    position:absolute;
    left:701px;
    top:84px;
    width:239px;
    height:303px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:303px;
}

.u10 {
    position:absolute;
    left:2px;
    top:144px;
    width:235px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:701px;
    top:84px;
    width:239px;
    height:303px
}

.u11_container {
    position:absolute;
    left:340px;
    top:117px;
    width:159px;
    height:43px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:159px;
    height:43px;
}

.u12 {
    position:absolute;
    left:2px;
    top:14px;
    width:155px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:340px;
    top:117px;
    width:159px;
    height:43px
}

.u14 {
    position:absolute;
    left:30px;
    top:10px;
    width:450px;
    height:148px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_original {
    background-image: url('../Detail_files/u15_original.png');
}

.u15_container {
    position:absolute;
    left:1px;
    top:1px;
    width:1000px;
    height:56px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1000px;
    height:56px;
}

.u16 {
    position:absolute;
    left:2px;
    top:20px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:1px;
    top:1px;
    width:1000px;
    height:56px
}

.u17_original {
    background-image: url('../Detail_files/u17_original.png');
}

.u17_container {
    position:absolute;
    left:-3px;
    top:1171px;
    width:1003px;
    height:99px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1003px;
    height:99px;
}

.u18 {
    position:absolute;
    left:2px;
    top:42px;
    width:999px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:-3px;
    top:1171px;
    width:1003px;
    height:99px
}

.u19_container {
    position:absolute;
    left:519px;
    top:451px;
    width:163px;
    height:180px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:163px;
    height:180px;
}

.u20 {
    position:absolute;
    left:2px;
    top:82px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:519px;
    top:451px;
    width:163px;
    height:180px
}

.u21 {
    position:absolute;
    left:20px;
    top:60px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:343px;
    top:98px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:343px;
    top:178px;
    width:147px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:351px;
    top:276px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:409px;
    top:304px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:350px;
    top:304px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_original {
    background-image: url('../Detail_files/u27_original.png');
}

.u27_container {
    position:absolute;
    left:40px;
    top:630px;
    width:90px;
    height:30px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u28 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:40px;
    top:630px;
    width:90px;
    height:30px
}

.u29_original {
    background-image: url('../Detail_files/u27_original.png');
}

.u29_container {
    position:absolute;
    left:220px;
    top:630px;
    width:90px;
    height:30px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u30 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:220px;
    top:630px;
    width:90px;
    height:30px
}

.u31_original {
    background-image: url('../Detail_files/u27_original.png');
}

.u31_container {
    position:absolute;
    left:310px;
    top:630px;
    width:90px;
    height:30px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u32 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:310px;
    top:630px;
    width:90px;
    height:30px
}

.u33_container {
    position:absolute;
    left:700px;
    top:403px;
    width:247px;
    height:427px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:427px;
}

.u34 {
    position:absolute;
    left:2px;
    top:206px;
    width:243px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:700px;
    top:403px;
    width:247px;
    height:427px
}

.u35_line {
    background-image: url('../Detail_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:40px;
    top:424px;
    width:650px;
    height:3px;
}

.u35 {
    position:absolute;
    left:40px;
    top:424px;
    width:650px;
    height:3px
}

.u36_original {
    background-image: url('../Detail_files/u36_original.png');
}

.u36_container {
    position:absolute;
    left:40px;
    top:660px;
    width:660px;
    height:490px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:666px;
    height:496px;
}

.u37 {
    position:absolute;
    left:2px;
    top:237px;
    width:656px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:40px;
    top:660px;
    width:660px;
    height:490px
}

.u38_original {
    background-image: url('../Detail_files/u27_original.png');
}

.u38_container {
    position:absolute;
    left:130px;
    top:630px;
    width:90px;
    height:30px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u39 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:130px;
    top:630px;
    width:90px;
    height:30px
}

.u41_container {
    position:absolute;
    left:4px;
    top:-1px;
    width:736px;
    height:228px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:736px;
    height:228px;
}

.u42 {
    position:absolute;
    left:2px;
    top:106px;
    width:732px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:4px;
    top:-1px;
    width:736px;
    height:228px
}

.u43 {
    position:absolute;
    left:550px;
    top:100px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_container {
    position:absolute;
    left:540px;
    top:120px;
    width:133px;
    height:137px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:133px;
    height:137px;
}

.u45 {
    position:absolute;
    left:2px;
    top:60px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:540px;
    top:120px;
    width:133px;
    height:137px
}

.u46 {
    position:absolute;
    left:139px;
    top:394px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_container {
    position:absolute;
    left:334px;
    top:320px;
    width:154px;
    height:48px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:154px;
    height:48px;
}

.u48 {
    position:absolute;
    left:2px;
    top:16px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:334px;
    top:320px;
    width:154px;
    height:48px
}

.u50_container {
    position:absolute;
    left:80px;
    top:10px;
    width:500px;
    height:333px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:500px;
    height:333px;
}

.u51 {
    position:absolute;
    left:2px;
    top:158px;
    width:496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:80px;
    top:10px;
    width:500px;
    height:333px
}

